.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.nav-bar-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-bar-left button {
  background-color: rgb(255, 159, 175);
  border: 0;
  color: white;
  padding: 2px 25px;
  font-weight: 700;
  border-radius: 7px;
}
.nav-bar-left #filter {
  background-color: white;
  font-size: 30px;
  padding: 2px;
  margin: 0 15px;
  border-radius: 5px;
}

.nav-bar-left #search {
  color: white;
  background-color: rgb(56, 56, 233);
  font-size: 30px;
  padding: 5px;
  border-radius: 5px;
}
